@use 'variables' as v;
@use 'mixins' as m;

:root {
    padding: 0 !important;
    margin: 0 !important;
}

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    // overflow-x: hidden;
    // scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {

}


// .fixPadding {

//     @include m.for-phone-only {
//         padding-top: 95px;
//     }

//     @include m.for-desktop-up {
//         padding-top: 80px;
//     }

//     @include m.for-big-desktop-up {
//         padding-top: 107px;
//     }

// }

h2 {

}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

p {


}

img {
    width: 100%;
    display: block;
}



.global-container {
    width: 95%;
    max-width: 86rem;
    margin: 0 auto;

    @include m.for-desktop-up {
        max-width: 74rem;
    }

    @include m.for-phone-only {
        max-width: 340px;
    }
}



.hidden {
    display: none !important;
}


